* {
  margin: auto;
}

body {
  text-align: center;
}

input {
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit]{
  width: 50%;
  border: 2px solid black;
  background-color: white;
}

.error {
  margin-top: 20px;
  width: 60%;
}

.logo {
  width: 70%;
  margin-top: 10%;
}

table, th, td {
  border: 1px solid black;
}


#username {
  margin-top: 10%;
}
