* {
  margin: auto;
  box-sizing: border-box;
}

body {
  text-align: center;
}

input {
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit]{
  width: 50%;
  border: 2px solid black;
  background-color: white;
}

input[type=number]{
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}

.food-choice-container p {
  display: inline-block;
  width: 70%;
  text-align: left;
}

.inline-block {
  display: inline;
}

.float-left {
  float: left;
}

.width30 {
  width: 30%;
}

.width50 {
  width: 50%;
}

.width70 {
  width: 70%;
}

.warning {
  color: red;
}

.create {
  background-color: lightgreen;
}

.error {
  margin-top: 20px;
  width: 60%;
}

.logo {
  width: 70%;
  margin-top: 10%;
}

input[type=checkbox] {
  margin-top: -50px;
}

.attending-container label {
  position: relative;
  right: 140px;
  top: 5px;
}

.attending-container {
  margin-top: 20px;
}

.wedding-header {
  margin-top: 20px;
}

.wedding-header h2,
.wedding-header p {
  display: inline-block;
}

.user-container p {
  display: inline-block;
}

.radio-container {
  height: 50px;
  width: 48%;
  display: inline-block;
}

.radio-container p {
  width: 200px;
  display: inline-block;
  position: relative;
  text-align: left;
  bottom: 38px;
  left: 30px;
}

button {
  margin-top: 10px;
}

table, th, td {
  border: 1px solid black;
}

ul {
  list-style: none;
}

#username {
  margin-top: 10%;
}

#food {
  margin-top: 20px;
}
@media screen (min-width: 600px) {
  .logo {
    width: 45%;
  }

  input {
    width: 60%;
  }

  input[type=submit]{
    width: 30%;
  }
}
